<mat-toolbar color="primary">
   Tabs
</mat-toolbar>

<div class="basic-container">
  Directly used:
  <mat-tab-group>
    <mat-tab [label]="label1">Content 1</mat-tab>
    <mat-tab [label]="label2">Content 2</mat-tab>
    <mat-tab [label]="label3">Content 3</mat-tab>
  </mat-tab-group>
  <br>
  <br>
  <br>

  Used with wrapper component:
  <custom-tabs >
    <custom-tab [label]="label1">Content A - Loaded: {{getTimeLoaded(1) | date:'medium'}}</custom-tab> 
    <custom-tab [label]="label2">Content B - Loaded: {{getTimeLoaded(1) | date:'medium'}}</custom-tab>
    <custom-tab [tabHeader]="headerTemplate" >
      <ng-template #headerTemplate>
        Tab Header Text <mat-icon>face</mat-icon>
      </ng-template>
      
      Content C - Loaded: {{getTimeLoaded(1) | date:'medium'}}
      
    </custom-tab>
  
  </custom-tabs>
  <br>
  <br>
  <br>
  <div>
      <span class="example-input-label"> Selected tab index: </span>
      <mat-form-field>
        <input matInput type="number" [formControl]="selected">
      </mat-form-field>
    </div>
    
    <div>
      <button mat-raised-button
              class="example-add-tab-button"
              (click)="addTab(selectAfterAdding.checked)">
        ADD NEW TAB
        <br/>
      </button>
      <mat-checkbox #selectAfterAdding> Select tab after adding </mat-checkbox>
    </div>
    
    <custom-tabs [selectedIndex]="selected.value"
                   (sqSelectedIndexChange)="selected.setValue($event)">
      <custom-tab *ngFor="let tab of tabs; let index = index" [label]="tab">
        Contents for {{tab}} tab
        <button mat-raised-button
                class="example-delete-tab-button"
                [disabled]="tabs.length === 1"
                (click)="removeTab(index)">
          Delete Tab
          <br/>

        </button>
      </custom-tab>
    </custom-tabs>
</div>
<span class="version-info">Current build: {{version.full}}</span>